PORT=8080
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=ps
UPLOAD_PATH=./data/uploads
LOG_LEVEL=info
STORAGE_PROVIDER=local
FIPE_API_TOKEN=
FIPE_BASE_URL=https://fipe.parallelum.com.br/api/v2
